.fading-text {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Adjust the transition duration as needed */
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
  }

  .streaming-text::after{
      content: " ";
      width: 2px;
      height: 10px;
      background-color: #464646;
      margin-left: 5px;
      animation: flickerOpacity 1s infinite;
  }

  @keyframes flickerOpacity {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }