/*
This software is Copyright ©️ 2020 The University of Southern California. All Rights Reserved. 
Permission to use, copy, modify, and distribute this software and its documentation for educational, research and non-profit purposes, without fee, and without a written agreement is hereby granted, provided that the above copyright notice and subject to the full license file found in the root of this software deliverable. Permission to make commercial use of this software may be obtained by contacting:  USC Stevens Center for Innovation University of Southern California 1150 S. Olive Street, Suite 2300, Los Angeles, CA 90115, USA Email: accounting@stevens.usc.edu

The full terms of this copyright and license should always be found in the root directory of this software deliverable as "license.txt" and if these terms are not found with this software, please contact the USC Stevens Center for the full license.
*/

:root {
  --content-shadow: 0px 2px 15px 0px rgba(90, 82, 128, 0.2);
  --content-shadow-inner: 0px 2px 15px 0px rgba(114, 107, 147, 0.2);
  --content-bg: #fff;
  --content-revision-text-color-2: #4b4b4b;
  --content-revision-text-color-3: #5c5c5c;
  --content-revision-text-color-3-disable: #898989;
}

.revision-time-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px !important;
}
.paper-style,
.content-revision-container {
  height: calc(100vh - 200px);
  width: 100%;
  padding: 20px 0px 40px 15px;
  margin: 10px 10px;
  border-radius: 15px;
  box-shadow: var(--content-shadow);
  background-color: var(--content-bg);
  /* overflow-y: auto; */
  margin-bottom: 10px;
}

.content-revision-container-scroll {
  height: calc(100vh - 220px);
  width: 100%;
  padding: 20px 0px 40px 15px;
  margin: 10px 10px;
  border-radius: 15px;
  box-shadow: var(--content-shadow);
  background-color: var(--content-bg);
  /* overflow-y: auto; */
  margin-bottom: 10px;
}

.content-revision-container-left {
  height: calc(100vh - 200px);
  width: 100%;
  padding: 20px 0px 40px 20px;
  margin: 10px 10px;
  border-radius: 15px;
  box-shadow: var(--content-shadow);
  background-color: var(--content-bg);
  margin-bottom: 10px;
}

.content-revision-container-left-scroll {
  height: calc(100vh - 220px);
  width: 100%;
  padding: 20px 0px 40px 20px;
  margin: 10px 10px;
  border-radius: 15px;
  box-shadow: var(--content-shadow);
  background-color: var(--content-bg);
  margin-bottom: 10px;
}

.right-content-container,
.left-content-container {
  height: calc(100vh - 210px);
  width: 100%;
  margin: 0px 10px 10px 0px;
  overflow-y: auto;
}

.right-content-container-scroll,
.left-content-container-scroll {
  height: calc(100vh - 235px);
  width: 100%;
  margin: 0px 10px 10px 0px;
  overflow-y: auto;
}

.left-content-container {
  margin-right: 10px !important;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.input-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.summary-input {
  width: 95%;
  margin: auto;
  margin-bottom: px !important;
  padding: 5px 10px !important;
  border: 1px solid #e0e0e0a0 !important;
  border-radius: 5px;
  font-size: 0.8rem !important;
}

textarea {
  font-family: inherit;
  color: var(--content-revision-text-color-2);
  resize: none;
}

.summary-input:focus-visible {
  outline: 1px solid var(--content-revision-text-color-3-disable) !important;
}

.summary-title-container {
  width: 50%;
  display: flex;
  align-items: center;
}

.MuiOutlinedInput-notchedOutline {
  border: 1px solid #e0e0e0a0 !important;
  border-radius: 5px;
}
.ai-outline-bubble {
  color: var(--content-bg);
  border-radius: 5px;
  padding: 0px 10px;
  background-color: var(--content-revision-text-color-2);
}

.activity-type-bubble {
  color: var(--content-bg);
  border-radius: 5px;
  padding: 0px 5px;
  margin-left: 10px !important;
  background-color: var(--content-revision-text-color-2);
}

.ai-outline-container {
  margin-bottom: 10px;
}
.text-2 {
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  color: var(--content-revision-text-color-2) !important;
}

.text-2-bold {
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  color: var(--content-revision-text-color-2) !important;
}

.text-2-bubble {
  color: var(--content-bg) !important;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
}

.text-3 {
  position: relative;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  margin-left: 10px !important;
  color: var(--content-revision-text-color-3);
}

.text-3-bold {
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  margin-left: 10px !important;
  color: var(--content-revision-text-color-3);
  margin-bottom: 15px !important;
}

.text-3-no-indent {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  color: var(--content-revision-text-color-3);
}

.text-3-disable {
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 10px !important;
  color: var(--content-revision-text-color-3-disable);
}

.text-3-list {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  margin-left: 10px !important;
  color: var(--content-revision-text-color-3);
  /* margin-bottom: 15px !important; */
}

.text-3-clickable {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  margin-left: 10px !important;
  color: var(--content-revision-text-color-3);
  cursor: pointer;
}

.text-3-user-chat {
  position: relative;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  color: var(--content-bg);
}

.content-revision-accordion {
  margin-bottom: 20px;
}
.Mui-expanded {
  min-height: 30px !important;
  margin: 0px !important;
}
.divider {
  width: 98%;
  margin: 5px 0px !important;
}
.list-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.bulletpoint-icon {
  font-size: 0.5rem !important;
  color: var(--content-revision-text-color-3);
}
.claims-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.supporting-claims-container {
  margin: auto;
  height: auto;
  width: 97%;
  padding: 5px 5px;
  border-radius: 15px;
  box-shadow: var(--content-shadow-inner);
}

.collapsable-claims {
  transition: max-height 0.5s ease;
  overflow: hidden;
  max-height: 500px; /* Adjust to your desired max-height */
}

.collapsable-claims.collapsed {
  transition: max-height 0.5s ease;
  display: none;
}
